<!-- layouts/footer.html -->
<footer th:fragment="footer" class="footer">
  <!-- Enlace al CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}" />
  <div class="footer-container">

    <!-- Información general -->
    <div class="footer-info">
      <h3 class="footer-title">La Fragata Giratoria</h3>
      <p class="footer-subtitle">Descubre el Sabor del Mar en <strong>Bogotá</strong></p>
      <p class="footer-contact">
        Restaurante La Fragata Giratoria<br />
        fragatagiratoria@gmail.com
      </p>

      <div class="footer-redes">
        <a href="#" aria-label="Facebook de La Fragata Giratoria">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/lafragatagiratorio/?hl=es" target="_blank" rel="noopener noreferrer"
          aria-label="Instagram de La Fragata Giratoria">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

    <!-- Políticas -->
    <div class="footer-policies">
      <a href="#" class="policy-link">Política de Privacidad</a>
      <a href="#" class="policy-link">Declaración de Accesibilidad</a>
      <a href="#" class="policy-link">Términos y Condiciones</a>
      <a href="#" class="policy-link">Política de Reembolso</a>
    </div>
  </div>
</footer>